<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test" parallel="methods">
		<classes>
			<!-- <class name="com.testng.CreateLocation"/>
			 <class name="com.testng.CreateNewProduct"/> -->
			<class name="com.testng.EditProduct" />
			<class name="com.testng.CancelProduct" />
			<class name="com.testng.DeleteProduct" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
